# ROS 2 build and install artifacts
build/
install/
log/

# Python artifacts
*.pyc
__pycache__/

# Virtual environment
venv/
.env/

# IDEs
.vscode/
.idea/

# Other
*.swp

# Package files
src/ros_tutorials/
src/rse_prob_robotics/
src/rse_sd/
src/rse_sd_msgs/
src/cpp_pubsub/

